@media (min-width: 800px) {
    header {
        flex-direction: row;
    }

    #menu-toggle {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        gap: 1.5rem;
        margin-top: 0;
    }

    .info-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
    }


    .weather-title::after {
        content: " ⛅";
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }

    .climate-card {
        margin: 2rem auto;
        max-width: 600px;
    }
}

@media (max-width: 799px) {
    .weather-title::after {
        content: "";
    }
}